name: Action on label change

# This workflow has write permissions on the repo
# It must not checkout a PR and run untrusted code

on:
  pull_request_target:
    types:
      - labeled

jobs:
  comment-on-breaking-change-label:
    runs-on: ubuntu-latest
    if: github.event.label.name == 'bug' && !contains(github.event.pull_request.body, "buug")
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `bug?`
            })
